
    body{
        background-image:url(pop.jpg);
    }


    .rj{text-align: center;
        font-size:20px;
        color: azure;
        background-color: black;

    }
    .doog{
        font-size: 10px;
        color: azure;
        background-color: black;
    }